<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Equipo</title>
</head>
<body>
    <h1>Equipos</h1>
        <ul>
        {% for equipo in equipos  %}
            <li>{{equipo.equipo}}</li>
        {% endfor %}
        </ul>
    <h2>Agregar Equipos</h2>
    <form action="" method="post">
        <label for="equipo">Equipo a agregar</label>
        <input type="text" name="equipo" id="">
        <input type="submit" value="Agregar">
    </form>
</body>
</html>